@model IEnumerable<Modal_popup.Models.EmployeeTb>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<div id="PlaceHolderHere"></div>
<button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#addEmployee" data-url="@Url.Action("Create")">Create</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpPno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpPno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
